img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.node {
    margin: 12px 20px;
    text-align: center;
}

.name {
    display: block;
    font-size: 12px;
    text-align: center;
}